{% if commits is not null %}
    <h2>Latest commits</h2>
    <ul>
        {% for commit in commits|slice(0, 10) %}
            <li>
                <a href="{{ commit.html_url }}">
                    <time datetime="{{ commit.commit.author.date }}">{{ commit.commit.author.date|date('d/m/Y H:i', 'Europe/London') }}</time>
                </a>
                {{ commit.commit.message }}
                [{{ commit.commit.author.name }}]
            </li>
        {% endfor %}
    </ul>
{% endif %}
