{% if rss is not null %}
    <div class="project-feed project-rss">
        <h2 class="project-feed-title">{% trans %}latest_posts{% endtrans %}</h2>
        <ul class="rss">
            {% for item in rss.channel.item|slice(0, 5) %}
                <li class="rss-item">
                    <h3 class="rss-title"><a href="{{ item.link }}">{{ item.title }}</a></h3>
                    <time datetime="{{ item.pubDate|date('Y-m-d\\TH:i:sP') }}" class="rss-datetime">{{ item.pubDate|date('d/m/Y H:i') }}</time>
                    <p class="rss-description">{{ item.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
