{% if commits is not null %}
    <div class="project-feed project-commits">
        <h2 class="project-feed-title">{% trans %}latest_commits{% endtrans %} <a href="{{ project.codeUrl }}" target="_blank" rel="nofollow noopener" class="socials-icon socials-github">Github (will open in a new window)</a></h2>
        <ul class="commits">
            {% for commit in commits|slice(0, 8) %}
                <li class="commits-commit">
                    <h3 class="commits-message"><a href="{{ commit.html_url }}">{{ commit.commit.message }}</a></h3>
                    <time datetime="{{ commit.commit.author.date }}" class="commits-datetime">{{ commit.commit.author.date|date('d/m/Y H:i', 'Europe/London') }}</time>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
