{% extends 'base.html.twig' %}

{% block body %}
    {% if success_message is not empty %}
        <div class="contact-success">{{ success_message }}</div>
    {% endif %}

    <noscript>
        <div class="contact-info">Unfortunately due to spam to use the contact form, JavaScript is required</div>
    </noscript>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.message, { 'help': 'Markdown is okay!' }) }}
    {{ form_row(form.hcaptchaResponse) }}

    <button type="submit" class="h-captcha" data-sitekey="{{ hcaptcha_site_key }}" data-callback="hCaptchaCallback" data-theme="dark" data-size="invisible">
        Send message
    </button>
    {{ form_end(form) }}

    <p>This form is protected by hCaptcha and its <a href="https://hcaptcha.com/privacy">Privacy Policy</a> and <a href="https://hcaptcha.com/terms">Terms of Service</a> apply.</p>
{% endblock %}

{% block javascripts %}
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
{% endblock javascripts %}
